body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

.logo {
    padding-top: 18px;
    text-align: center;
}

#factory {
    padding-bottom: 7px;
    padding-right: 10px;
    width: 115px;
}

#ecma {
    padding-left: 10px;
    width: 95px;
}

h1 {
    text-align: center;
    padding-top: 25px;
}

.container {
    width: 60%;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}

.block {
    width: 45%;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.block:hover {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
}

.download-block {
    height: 120px;
    text-align: center;
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.download-block img {
    height: 70px;
    margin-top: 25px;
}


.download-text {
    height: 40px;
    text-align: center;
}

.download-text p {
    margin-top: 0px;
    padding-top: 10px;
}

.steps {
    width: 50%;
    padding: 30px;
    margin: 0 auto;
}
.steps h2 { text-align: center;}
.steps ol { margin: 0 auto; width: 400px;}

.footer {
    background-color: lightgrey;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
