<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Pinniped Configuration Downloader</title>
</head>
<body>

<div class="logo">
    <img src="images/software-factory-logo.png" alt="Software Factory Logo" id="factory">
    <img src="images/ecma-logo.png" alt="ECMA Logo" id="ecma">
</div>

<h1>Download your Pinniped Configuration</h1>
<div class="groups" th:each="group :${groups}">
    <div class="container">
        <h2><span th:text="${group.name}"></h2>
        <div class="block" th:each="filename :${group.filenames}">
            <div class="download-block">
                <img src="images/Download-icon.png" alt="Download">
            </div>
            <div class="download-text">
                <p><a th:href="@{/downloadfile/{groupName}/{fileName}(groupName=${group.name}, fileName=${filename})}" th:text="${filename}"/><br/></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="steps">
    <h2>Steps</h2>
    <ol>
        <li>Download the kubeconfig file.</li>
        <li>Save the kubeconfig file in your '/home/.kube/' folder.</li>
        <li>Open terminal</li>
        <li>Use the --kubeconfig flag with kubectl to reference this cluster, if the newly downloaded kubeconfig file isn't the default. Example: kubectl get pod --kubeconfig <path-to-kubeconfig>.</li>
        <li>To make sure everything is running properly, use the command 'kubectl get apps -A'</li>
        <li>Good to go.</li>
    </ol>
</div>
<div class="footer">
    For more detailed instructions, check the <a href="https://gitlab.create.army.mil/myoc/myoc-wiki/-/wikis/home">MYOC wiki.</a>
    Contact MYOC support at #myoc-service in Army First Slack.
</div>
</body>
</html>
