<!DOCTYPE html>
<html>
<thead>
<meta charset="ISO-8859-1"/>
<link href="css/styles.css" rel="stylesheet"/>
<title>Pinniped Configuration Downloader</title>
</thead>
<tbody>
<h4>Download your Pinniped configuration</h4>
<tbody>
<tr th:if="${groups.empty}">
    <td colspan="1"> No Pinniped Kubeconfigs Available</td>
</tr>
<tr th:each="group :${groups}">
    <td><a th:href="@{/downloadfile/{group}(group=${group})}" th:text="${group}"/></td>
</tr>
</tbody>
</html>